:root {
	--toastContainerTop: 4rem;
}

* {
	box-sizing: border-box;
	transition: background-color 0.5s ease;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.landing-section {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 4rem);
	overflow: hidden;
	width: 100%;
}

.hidden {
	display: none !important;
}
